exportPattern("^[[:alpha:]]+")
export(qnbtest)
import(locfit)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "contour", "par", "title")
importFrom("stats", "dnbinom", "median", "p.adjust", "predict")
importFrom("utils", "write.table")
importFrom("stats", "var")